<%= provide(:description, 'Контакти компанії ТеплоМаркет для організації замовлення та доставки продукції') %>
<%= provide(:title, 'Контакти компанії') %>
<h1 class="brand">Контакти компанії:</h1>

<h3><span class="title_color">Доставка та оплата</span></h3>
<p>Оформити замовлення товару Ви можете наступним чином: </p>
 <h4>1. За телефонами:</h4>

тел. (0362) 62-56-96<br>
факс (0362) 62-56-97<br>
моб. (067) 362-22-26<br>

<strong>Години прийому замовлень:</strong><br>
Пн-Пт: с 8:00 до 20:00<br>
Субота: с 9:00 до 20:00<br>
Неділя: с 9:00 до 19:00<br><br> 



<h4>2. За адресою:</h4>
33000, м. Рівне <br>
вул. Гагаріна, 39, офісний центр "Екопласт" 1 пов. <br><br>

<strong>Години прийому замовлень:</strong><br>
Пн-Пт: с 8:00 до 20:00<br>
Субота: с 9:00 до 15:00<br>
Неділя: Вихідний<br><br>

<h4 class="brand"><span class="tab"></span>Доставка здійснюється по Україні наступними перевізниками:</h4>
 САТ<br>
 Нова Почта<br>
 In Time<br>
 Delivery<br>
 <h4 class="brand">Доставку по місту Рівне здійснюємо безкоштовно!.</h4>
