<h3>Шановний(я) <%= @order.name %></h3>
<p>Адміністрація магазину ТеплоМаркет дякує Вам за те, що Ви скористалися послугами ынтернет магазину.</p>
Ви замовили наступне:
<p><%= render @order.line_items -%></p>
<h4>Коли Ваше замовлення буде відправлено, ми проінформуємо Вас окремим повідомленням. </h4>