<h3>Замовлення від ТеплоМаркет було відправлено.</h3>
<p>
Дане повідомлення інформує Вас, що Ваше замовлення було відправлено.
</p>
<table>
<tr>
  <th colspan="2">К-во</th>
  <th>Описание</th>
</tr>
<%= render @order.line_items -%>
</table>