<h3>Список користувачів сайту:</h3>
<% provide(:title, 'Список користувачів сайту') %>



  <ul class="users">
    <% @users.each do |user| %>
      <li>
        <%= gravatar_for user, size: 42 %>
        <%= link_to user.name, user %>
      </li>
    <% end %>
  </ul>

<%= will_paginate @users %>
