<% provide(:title, 'Реєстрація на сайті') %>

<h1 class="brand">Реєстрація на сайті</h1>

<div class="row new_user">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
    
    <%= render 'fields', f: f %>

      <%= f.submit "Створити", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>