<h6 class="brand">Ваша корзина:</h6>
<table class="table table-bordered table-condensed">
  
  <%= render(cart.line_items) %>
  
  <tr class="total_line">
    <td class="brand text-right" colspan="2"><strong>Всього:</strong></td>
    <td class="brand text-right"><strong><%= sprintf("%0.02f",cart.total_price) %> грн.</strong></td>
  </tr>
</table>
<div id="cart_btn" class="text-right">
  <%= button_to "Очистити", cart, method: :delete, 
                            data: { confirm: "Ви впевнені?" }, class: "btn btn-warning btn-xs" %>
  <%= button_to "Оформити замовлення", cart, class: "btn btn-primary btn-xs" %>
  <div class="clear"></div>
</div>