<%= provide(:description, "Ваша корзина") %>
<%= provide(:title, "Ваша корзина") %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1 class="brand">Ваша корзина</h1>
<ul>
  <% @cart.line_items.each do |item| %>
    <li>
      <%= item.product.title %>
    </li>
  <% end %>
</ul>