// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cart {
  h6 {
    margin-left: 20px;
  }
  font-size: 8px;
  table {
    margin-bottom: 0;   
  }
  #cart_btn {
    padding: 5px 0 0 85px;
    .btn {
      float: left;
      font-size: 9px;
      margin: 0 3px 10px 5px;
    }
  }
}
