/* --------------------------------------
   Variebles
   -------------------------------------- */

$brandColor: #FF4500;

/* --------------------------------------
   Global settings
   -------------------------------------- */

body {
  background: asset_url('body_bg.png');
}

.welly {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.176);
}

/* --------------------------------------
   Typography
   -------------------------------------- */

.brand {
   color: $brandColor;
}

.field_with_errors {
  color: red;
}

#notice {
  font-size: 16px;
  background-color: #F5F5F5;
  padding: 5px;
}

span.tab{
    padding: 0 15px; /* Or desired space*/
}

/* --------------------------------------
   Navbar
   -------------------------------------- */

#navbar.navbar {   
   margin-bottom: 10px;
   min-height: 30px;

   .form-control {
      max-height: 25px;
      margin-top: 3px;
   }

   .btn {
      padding: 3px 7px;
   }

   .search {
      padding: 1px 1px 5px 3px;
   }

   button {
      height: 25px;
      margin-top: 3px;
   }

   .navbar-nav > li > a {
      padding-bottom: 10px;
      padding-top: 10px;
   }

   .navbar-brand {
      height: 30px;
      padding: 10px 30px;
   }

   .navbar-form {
      padding-left: 20px;
      margin: 4px -15px;
   }
}

.nav {
   .caret {
      margin-left: 9px;
   }
}

.dropdown-menu{
   .dropdown-header {
      color: #FF4500;
   }
}

/* --------------------------------------
   Content Styles
   -------------------------------------- */

#content {
  padding-top: 10px;
  padding-bottom: 40px;
  margin-top: 5px;
  h1 {
    font-size: 24px;
    margin-top: 5px;
  }
}

/* --------------------------------------
   SideBar Styles
   -------------------------------------- */

.panel-danger {
  .panel-heading {
    color: #a94442;;
  }
}

.panel-heading {  
  .panel-title {
    a {
      font-size: 14px;
      display: block;
    }
  }  
}

.panel-body {
  ul {
    padding-left: 10px;
  }
  li {
    list-style: none;
    a {
      display: block;
    }
  }
  img {
    margin: 15px 20px 10px 5px;
    float: left;
  }
}

#accordion {
   padding-top: 5px;   
}

.panel-heading {
   .panel-title {   
      font-weight: bold;      
         color: #2A6496;     
   }  
}

/* --------------------------------------
   Right Styles
   -------------------------------------- */

#right_sidebar {
  margin-top: 5px;
}


/* --------------------------------------
   Footer Styles
   -------------------------------------- */

footer {
  margin-top: 45px;
  padding: 5px 40px 5px 40px;
  color: #999;
  a {
    color: #555;

  }
  a:hover {
    color: #222;
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
  }
  li {
    float: left;
    margin-left: 50px;
  }
}


