// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.prod_list {
  img {
    margin-right: 30px;
  }
  .description {
    padding: 15px;
  }  
  .list_actions {
    padding-top: 20px;
  }
}
