// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main_presentation {
  margin-bottom: 30px;
  padding-bottom: 30px;
  
  h1 {
    margin-bottom: 20px;
  }
  input {
    margin-top: 10px;
  }
  div.title {
    font-size: 10px;
  }
  img {
    margin-bottom: 5px;
  }
  .price {
    font-size: 10px;
  }
  .price_disc{
    font-size: 12px;
  }
  .title {
    text-align: center;
    min-height: 50px;
  }
}
