// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gravatar {
  img {
    margin-right: 10px;
  }
  span.text {
    vertical-align: top;
  }
}

.enter_user {
  .alert-notice {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
  }
  .field {
    input{
      width: 50%;
    }
  }
}

.new_user {
  .form-control {
    border: 1px solid #bbb;
    width: 60%;
  }
}

.edit_user {
  .field {
    input{
      width: 50%;
    }
  }
}

.users {
  img {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.176);
  }
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    &:last-child {
      border-bottom: 1px solid #ccc;
    }
  }
}