<%= provide(:description, "Перелік продукції") %>
<%= provide(:title, "Перелік продукції") %>

<h1 class="brand">Каталог продукції</h1>

  <%= render @products %>

<%= will_paginate @products, renderer: BootstrapPagination::Rails %>
