<div class="panel panel-default" id="right_sidebar">
  <div class="panel-heading">
    <h3 class="panel-title">Статті розділу</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Кабельні системи обігріву
        </a>
      </li>
      <li>
        <a href="/categories/3-Саморегулюючий кабель">
          Саморегулюючий кабель
        </a>
      </li>
      <li>
        <a href="/categories/1-Тепла підлога">
          Тепла підлога
        </a>
      </li>
      <li>
        <a href="/categories/2-Системи антиобледеніння">
          Системи антиобледеніння
        </a>
      </li>
    </ul>    
  </div>
</div>