<div class="panel-group welly" id="accordion">
  <% if @cart %>
    <div id="cart">
      <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
        <%= render @cart %>
      <% end %>
    </div>
  <% end %>
  
	<div class="panel panel-default">
		<div class="panel-heading welly">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					Електричне опалення
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				<ul>
          <li>
            <%= render(partial: "categories/category", collection: @categories) %>
          </li>					
				</ul>
			</div>
		</div>
	</div>
<!-- 	<div class="panel panel-default">
		<div class="panel-heading welly">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
				Кабельні системи обігріву
				</a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				<ul>
					<li><a href="#">Тепла підлога</a></li>
					<li><a href="#">Системи антиобледеніння</a></li>
					<li><a href="#">Інфрачервона плівка</a></li>
					<li><a href="#">Керамічні панелі</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading welly">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
					Водяне опалення
				</a>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
				<ul>
					<li><a href="#">Тепла підлога</a></li>
					<li><a href="#">Системи антиобледеніння</a></li>
					<li><a href="#">Інфрачервона плівка</a></li>
					<li><a href="#">Керамічні панелі</a></li>
				</ul>
			</div>
		</div>
	</div> -->
</div>