<div class="panel-group welly" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading welly">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					Кабельні системи обігріву
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				<ul>
					<li>
						<a href="/categories/1-Тепла підлога">
							Тепла підлога
						</a>
					</li>
					<li>
						<a href="/categories/3-Саморегулюючий кабель">
							Саморегулюючий кабель
						</a>
					</li>
					<li>
						<a href="/categories/2-Системи антиобледеніння">
							Системи антиобледеніння
						</a>
					</li>
					<li>
						<a href="#">
							Технологічний обігрів
						</a>
					</li>
					<li>
						<a href="#">
							Антиобледеніння даху
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading welly">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
				Кабельні системи обігріву
				</a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				<ul>
					<li><a href="#">Тепла підлога</a></li>
					<li><a href="#">Системи антиобледеніння</a></li>
					<li><a href="#">Інфрачервона плівка</a></li>
					<li><a href="#">Керамічні панелі</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading welly">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
					Водяне опалення
				</a>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
				<ul>
					<li><a href="#">Тепла підлога</a></li>
					<li><a href="#">Системи антиобледеніння</a></li>
					<li><a href="#">Інфрачервона плівка</a></li>
					<li><a href="#">Керамічні панелі</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>